body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  justify-content: center;
}

.content {
  width: 1020px;
}

.example {
  padding: 20px 32px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.user {
  display: flex;
  align-items: center;
  width: 240px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 4px 16px;
  box-shadow: 2px 2px 5px 0px rgba(218 217 217);
}

.user-avatar {
  height: 54px;
  width: 54px;
  border-radius: 54px;
}

.user-full-name {
  font-size: 16px;
  margin-left: 12px;
}

.cats {
  margin-bottom: 16px;
}

.cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin-top: 12px;
  border-radius: 16px;
  box-shadow: 2px 2px 5px 0px rgba(172,171,171,1);
  padding: 4px 16px;
}

.cat-info {
  display: flex;
  align-items: center; 
}

.cat-avatar {
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

.cat-name {
  font-size: 16px;
  margin-left: 12px;
}
