body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.users {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
}

.user {
  display: flex;
  align-items: center;
  width: 240px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-avatar {
  height: 54px;
  width: 54px;
  border-radius: 54px;
}

.user-full-name {
  font-size: 16px;
  margin-left: 12px;
}
