body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  justify-content: center;
}

.example-box {
  width: 1020px;
}

.users {
  display: flex;
  flex-wrap: wrap;
}

.user {
  display: flex;
  align-items: center;
  width: 240px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-avatar {
  height: 54px;
  width: 54px;
  border-radius: 54px;
}

.user-full-name {
  font-size: 16px;
  margin-left: 12px;
}

.cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin-top: 12px;
  border-radius: 16px;
  box-shadow: 2px 2px 5px 0px rgba(172,171,171,1);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.cat-info {
  display: flex;
  align-items: center; 
}

.cat-avatar {
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

.cat-name {
  font-size: 16px;
  margin-left: 12px;
}
